{% extends 'base.html' %}
{% block content %}


<form class="col-6 mx-auto card p-3 shadow-lg mt-5" method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <h2>Login form</h2>

      <div class="container mt-2 pb-5">
    
        {% for i in messages %}
        <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="check-circle-fill" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>
        <div class="container d-flex justify-content-center mt-3">
            <div id="customAlerts" class="alert alert-primary p-3 d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:" style="width: 24px; height: 24px;">
                    <use xlink:href="#check-circle-fill" />
                </svg>
                <div>{{i}}</div>
            </div>
        </div>
        {% endfor %}
    
        <script>

            const alertElement = document.getElementById('customAlerts');

            function removeAlert() {
                alertElement.remove();
            }
            setTimeout(removeAlert, 4000);
        </script>

      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input name="username" required type="text" class="form-control">
      </div>

      <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input name="password" required type="password" class="form-control" >
      </div>

      <p>Don't have an account. <a href="/register/">Register</a></p>

      <button type="submit" class="btn btn-success">Login</button>

</form>

{% endblock %}